<header role="banner" class="qh__page-header">
  <div class="qh__global-header">
    <div class="qh__global-header__wrapper">
      <p class="qh__global-header__tagline">Official State of Rhode Island website. <a href="#">How to be sure</a></p>
      <p class="qh__global-header__settings"><a href="#" role="button">User settings</a></p>
    </div>
  </div>
  <div class="qh__page-header__wrapper">
    <div class="qh__site-branding">
      <a href="" rel="home" class="qh__site-branding__logo">
        <!--?xml version="1.0" encoding="UTF-8"?--><svg enable-background="new 0 0 39.08 51.1" version="1.1" viewBox="0 0 39.08 51.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><style type="text/css">.logo-fill{fill: currentColor;}</style><path class="logo-fill" d="m38.69 27.8c-0.69 0.52-6.82 4.75-9.42 6.9 0.34 0.03 2.7 0.5 3.31 0.58-0.16 0.15-1.41 1.66-2.56 2.73-1.41-3.03-4.1-5.69-7.31-6.98-0.01-0.11-0.02-0.21-0.03-0.32-0.01-0.17-0.06-2.87-0.13-6.33 4.92-1.21 7.59-3.95 8.42-7.47h3.24v-4.49h-3.11c-0.81-4.75-4.56-7.78-6.88-8.8-0.52-2.07-2.41-3.62-4.67-3.62-2.67 0-4.84 2.17-4.84 4.84 0 1.64 0.82 3.09 2.07 3.97 0 0.15-0.02 1.57-0.06 3.63h-11.84v4.49h11.77c-0.03 1.68-0.06 3.46-0.09 5.16-9.58 2.48-8.74 9.9-0.5 11.82-0.81 5.75-2.51 6.61-5.76 5.05-1.23-0.59-3.58-3.46-3.81-3.67 0.61-0.08 2.97-0.55 3.31-0.58-2.6-2.15-8.72-6.38-9.42-6.9-0.84 2.73-0.37 9.21 1.76 11.23 0.63-0.6 1.29-1.23 1.44-1.42 3.59 7.87 15.29 11.73 15.95 13.48 0.38-1.03 4.54-2.77 8.65-5.62 0.02 1.55-0.25 2.94-0.81 3.9 2.36-1.65 3.48-3.83 3.68-6.12 1.83-1.6 3.44-3.47 4.43-5.64 0.16 0.18 0.81 0.81 1.44 1.42 2.14-2.03 2.61-8.51 1.77-11.24m-19.14-24.98c1.12 0 2.02 0.91 2.02 2.02 0 1.12-0.91 2.02-2.02 2.02s-2.02-0.91-2.02-2.02c0-1.12 0.91-2.02 2.02-2.02m2.75 6c0.53-0.37 0.98-0.83 1.33-1.38 2.36 1.42 3.41 3.17 3.75 4.99h-5.03c-0.03-2-0.05-3.4-0.05-3.61m4.77 8.1c-0.53 1.42-1.75 3.01-4.57 3.96-0.02-1.32-0.05-2.67-0.07-3.96h4.64zm-10.57 8.61c-0.03 1.76-0.06 3.24-0.08 4.17-3.2-1.03-3.21-3.07 0.08-4.17m6.79 9.96c1.54 0.96 2.71 2.45 3.51 4.12-1.74 0.23-2.84-0.89-3.51-4.12"></path></svg>
      </a>
      <a href="" rel="home" class="qh__site-branding__name">
        <span class="qh__site-branding__name__top-line">State of Rhode Island</span>
        <span class="qh__site-branding__name__main-line">Department Name</span>
        <span class="qh__site-branding__name__bottom-line">Department Name Third Line</span>
      </a>
    </div>
  </div>
</header>

{% import _self as menus %}
{#
  We call a macro which calls itself to render the full tree.
  @see https://twig.symfony.com/doc/1.x/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0, front_page, 0, FALSE) }}

{% macro menu_links(items, attributes, menu_level, front_page, generated_id, sub_menu_item, dropdown_item) %}
  {% import _self as menus %}

  {% if items %}

    {# Main list wrapper only. Add nav wrapper. Add Home Link #}
    {% if menu_level == 0 %}
      <nav class="qh__nav-main" aria-label="Primary">
        <div class="qh__nav-main__wrapper">
          <a href="{{ front_page }}" class="qh__nav-main__link qh__nav-main__link--home" title="Back to Home" aria-hidden="true">
            <span class="qh__icon">
              {% include ('@icons/home.svg') %}
              <span class="visually-hidden">Home</span>
            </span>
          </a>
          <button id="js-toggle-nav" class="qh__nav-main__toggle" type="button" aria-controls="js__primary-menu" aria-haspopup="true" aria-expanded="false" aria-label="Toggle navigation">
            <span class="qh__icon__menu">
              <span></span>
            </span>
            <span class="qh__nav-main__toggle__label">Menu</span>
          </button>
          <ul id="js__primary-menu" class="qh__nav-main__list qh__nav-main__list__outermost" role="list" aria-labelledby="toggle-nav">
            <li class="qh__nav-main__item qh__nav-main__item--home">
              <a href="{{ front_page }}" class="qh__nav-main__link qh__nav-main__link--home" title="Back to Home">
                <span class="qh__icon">
                  {% include ('@icons/home.svg') %}
                  <span class="visually-hidden">Home</span>
                </span>
              </a>
            </li>
    {% else %}
      {# Subnavigation list wrapper #}
      <ul class="qh__nav-main__list qh__nav-main__list__sub" aria-labelledby="menu-{{ generated_id }}">

        {# Append an overview link to top of dropdown list. #}
        <li class="qh__nav-main__item qh__nav-main__item__sub">
          <a href="{{ item.url }}" class="qh__nav-main__link qh__nav-main__link__sub {{ item.in_active_trail ? qh__nav-main__link--current }}">{{ "Overview"|t }}</a>
        </li>
    {% endif %}

    {% for item in items %}

      {# Generate a random number to use as a unique id for link items #}
      {% set link_id = random(10000) %}

      {# List item classlist #}
      {% set list_item_classes = "qh__nav-main__item" %}
      {% if sub_menu_item %}
        {% set list_item_classes = list_item_classes  ~ " qh__nav-main__item__sub" %}
      {% endif %}
      {% if item.below %}
        {% set list_item_classes = list_item_classes  ~ " qh__nav-main__has-children" %}
      {% endif %}

      {# If there is a menu item below this level. Add dropdown icon and call the macro again. #}
      {% if (item.is_expanded and item.below) %}
        <li class="{{ list_item_classes }}">
          <a href="{{ item.url }}" class="js-qh-dd-toggle qh__nav-main__link" id="menu-{{ link_id }}" role="button" aria-haspopup="true" aria-expanded="false">
            {{ item.title }}
            <span class="qh__icon">
              {% include ('@icons/chevron-down.svg') %}
              <span class="visually-hidden">Toggle child menu</span>
            </span>
          </a>
          {% if item.below %}
            {{ menus.menu_links(item.below, attributes, menu_level + 1, front_page, link_id, TRUE, item)  }}
          {% endif %}
        </li>
      {% else %}
        {# No child items. Render a standard link #}

        {# Link classlist #}
        {% set link_classes = "qh__nav-main__link" %}
        {% if sub_menu_item %}
          {% set link_classes = link_classes  ~ " qh__nav-main__link__sub" %}
        {% endif %}
        {% if item.in_active_trail %}
          {% set link_classes = link_classes  ~ " qh__nav-main__link--current" %}
        {% endif %}

        <li class="{{ list_item_classes }}">
          <a href="{{ item.url }}" class="{{ link_classes }}">{{ item.title }}</a>
        </li>
      {% endif %}
    {% endfor %}
      </ul>
    {% if menu_level == 0 %}
      </nav>
    </div>
    {% endif %}
  {% endif %}
{% endmacro %}
