<div class="qh__settings-menu">
  {# User Language Menu #}
  {% if language_switcher|render %}
    <span class="qh__u__btn-as-text qh__language-menu__wrapper">
      <span class="qh__language-menu__icon" aria-hidden="true">
        {% include ('@icons/globe.svg') %}
      </span><span class="qh__language-menu__text">{{ language_switcher }}</span>
    </span>
  {% endif %}
  {# User Settings Menu #}
  <button id="js__user-settings__toggle" class="qh__u__btn-as-text qh__settings-menu__toggle" aria-expanded="false" aria-controls="js__user-settings__list">
    <span class="qh__settings-menu__icon" aria-hidden="true">
      {% include ('@icons/cog.svg') %}
    </span><span class="qh__settings-menu__text js__text__hidden">{{ "Settings"|t }}</span>{# keep this on the same line to avoid an underlined space #}
  </button>
  <ul id="js__user-settings__list" class="qh-u__list-reset qh__settings-menu__list" aria-labelledby="js__user-settings__toggle">
    <li id="qh-lightmode" class="settings__lightmode">
      <label class="qh__settings-menu__label">{{ "Color scheme"|t }}:</label>
      <span class="visually-hidden">Change the visual color theme between light or dark modes</span>
      <div class="qh__settings-menu__boolean">
        <button id="light_mode_switch" class="small-text qh__u__btn-as-text toggle-lightmode switch">{{ "Switch"|t }}</button>
        <button id="light_mode_reset" class="small-text qh__u__btn-as-text toggle-lightmode auto">{{ "Use system preference"|t }}</button>
      </div>
    </li>
    <li id="qh-fontsize" class="settings__fontsize">
      <label class="qh__settings-menu__label" for="font_size_modifier">{{ "Font size"|t }}:</label>
      <span class="visually-hidden">{{ "Adjust the font size from the system default to a larger size"|t }}</span>
      <div class="qh__settings-menu__slider">
        <div class="qh__form__input__range">
          <input type="range" min="1" max="3" value="1" step="0.1" name="size" id="font_size_modifier" />
        </div>
        <div class="small-text settings__fontsize--value low" aria-hidden="true">{{ "Original"|t }}</div>
        <div class="small-text settings__fontsize--value high" aria-hidden="true">{{ "Larger"|t }}</div>
      </div>
    </li>
    <li id="qh-lineheight" class="settings__lineheight">
      <label class="qh__settings-menu__label" for="line_height_modifier">{{ "Line spacing"|t }}:</label>
      <span class="visually-hidden">{{ "Adjust the space between lines of text from the system default to a larger size"|t }}</span>
      <div class="qh__settings-menu__slider">
        <div class="qh__form__input__range">
          <input type="range" min="1" max="3" value="1" step="0.1" name="lineheight" id="line_height_modifier" />
        </div>
        <div class="small-text settings__lineheight--value low" aria-hidden="true">{{ "Original"|t }}</div>
        <div class="small-text settings__lineheight--value high" aria-hidden="true">{{ "More"|t }}</div>
      </div>
    </li>
    <li id="qh-wordspace" class="settings__wordspace">
      <label class="qh__settings-menu__label" for="word_space_modifier">{{ "Word spacing"|t }}:</label>
      <span class="visually-hidden">{{ "Adjust the space between words from the system default to a larger size"|t }}</span>
      <div class="qh__settings-menu__slider">
        <div class="qh__form__input__range">
          <input type="range" min="0" max="2" value="1" step="0.1" name="wordspace" id="word_space_modifier" />
        </div>
        <div class="small-text settings__wordspace--value low" aria-hidden="true">{{ "Original"|t }}</div>
        <div class="small-text settings__wordspace--value high" aria-hidden="true">{{ "More"|t }}</div>
      </div>
    </li>
  </ul>
</div>
