{#
/**
 * @file
 * Theme override to display the site branding block.
 *
 * Available variables:
 *
 *
 * Site name:
 * - header_preprocess_values: Array of three text lines from the theme settings configuration with three values (only main_line is required)
 *   - top_line
 *   - main_line
 *   - bottom_line
 *
 *
 * @see template_preprocess_page()
 */
#}


    <div class="site-branding">
      <a href="{{ front_page }}" rel="home" class="site-branding__logo">
        {% include ('@icons/default-logo.svg') %}
      </a>

      <a href="{{ front_page }}" rel="home" class="site-branding__name">
        <span class="site-branding__name__top-line">{{ header_preprocess_values.top_line }}</span>
        <span class="site-branding__name__main-line">{{ header_preprocess_values.main_line }}</span>
        <span class="site-branding__name__bottom-line">{{ header_preprocess_values.bottom_line }}</span>
      </a>

    </div>
