{{ form.form_build_id }}
{{ form.form_token }}
{{ form.form_id }}

<div class="qh__site-search__container qh__form__nowrap">

  <label class="visually-hidden">{{ "Search the site"|t }}</label>
  {{ form.search_input}}

  {{ form.actions }}

</div>
