<div class="qh__articles-list">
  <h1 class="qh__articles-list__title">{{ title }}</h1>

  {% if exposed %}
    <div class="view-filters">
      {{ exposed }}
    </div>
  {% endif %}

  <div class="qh__articles-list__list">
    {{ rows }}
  </div>
  {% if pager %}
    {{ pager }}
  {% endif %}
  {% if more %}
    {{ more }}
  {% endif %}
  {% if feed_icons %}
    <div class="feed-icons">
      {{ feed_icons }}
    </div>
  {% endif %}

</div>
