<footer class="qh__site-footer" role="contentinfo">
  <div class="content-wrapper">
    <div class="qh__site-footer__content-left">
      <div>
        {{ footer_preprocess_values.footer_left|raw }}
      </div>

      <div>
        {{ footer_preprocess_values.footer_center|raw }}
      </div>

      <div>
        {{ footer_preprocess_values.footer_right|raw }}
      </div>
    </div>
    <div class="qh__site-footer__content-right">
      <div>
        {{ footer_preprocess_values.state_info|raw }}
      </div>
    </div>
  </div>
  <div class="qh__site-footer__copyright">
    <div class="content-wrapper">
      <div class="qh__site-footer__copyright__content">
        <img class="qh__site-footer__copyright__brand" src="{{ img.stateSeal.src }}" alt="{{ img.stateSeal.alt }}" />
        <p>
          © {{ "now"|date("Y") }}
          {{ title }}.
          {{ copyright }}
        </p>
      </div>
    </div>
  </div>
</footer>
