<nav class="qh__pagination" aria-label="Pages"> 
  <ul class="qh__pagination__list">
    {# Print first item if we are not on the first page. #}
    <li class="qh__pagination__item">
      <a href="{% if items.first.href %}{{ items.first.href }}{% else %}#{% endif %}" title="{{ 'Previous page'|t }}"  class="qh__pagination__link qh__pagination__link--first{% if items.first.href %}{% else %} qh__pagination__link--disabled{% endif %}">
        {% include ('@icons/guillemot-left.svg') %}
      </a>
    </li>
    {# Print previous item if we are not on the first page. #}
    <li class="qh__pagination__item">
      <a href="{% if items.previous.href %}{{ items.previous.href }}{% else %}#{% endif %}" title="{{ 'Previous page'|t }}"  class="qh__pagination__link qh__pagination__link--prev{% if items.previous.href %}{% else %} qh__pagination__link--disabled{% endif %}">
        {% include ('@icons/chevron-left.svg') %}
      </a>
    </li>
    {# Add an ellipsis if there are further previous pages. #}
    {% if ellipses.previous %}
      <li class="qh__pagination__item">
        <span class="qh__pagination__ellipses" aria-label="{{ 'Full list of pages is truncated'|t }}" role="text">&hellip;</span>
      </li>
    {% endif %}
    {# Now generate the actual pager piece. #}
    {% for key, item in items.pages %}
    <li class="qh__pagination__item">
      {% if current == key %}
        {% set title = 'Current page'|t %}
      {% else %}
        {% set title = 'Go to page @key'|t({'@key': key}) %}
      {% endif %}
      <a href="{{ current == key ? '#' : item.href }}" title="{{ title }}" class="qh__pagination__link {{ current == key ? ' qh__pagination__link--current qh__pagination__link--disabled' : '' }}" title="{{ 'Current page'|t }}">
        {{- key -}}
      </a>
    </li>
    {% endfor %}
    {# Add an ellipsis if there are further next pages. #}
    {% if ellipses.previous %}
      <li class="qh__pagination__item">
        <span class="qh__pagination__ellipses" aria-label="{{ 'Full list of pages is truncated'|t }}" role="text">&hellip;</span>
      </li>
    {% endif %}
    {# Print next item if we are not on the last page. #}
    <li class="qh__pagination__item">
      <a href="{% if items.next.href %}{{ items.next.href }}{% else %}#{% endif %}" title="{{ 'Next page'|t }}"  class="qh__pagination__link qh__pagination__link--next{% if items.next.href %}{% else %} qh__pagination__link--disabled{% endif %}">
        {% include ('@icons/chevron-right.svg') %}
      </a>
    </li>
    {# Print last item if we are not on the last page. #}
    <li class="qh__pagination__item">
      <a href="{% if items.last.href %}{{ items.last.href }}{% else %}#{% endif %}" title="{{ 'Last page'|t }}"  class="qh__pagination__link qh__pagination__link--last{% if items.last.href %}{% else %} qh__pagination__link--disabled{% endif %}">
        {% include ('@icons/guillemot-right.svg') %}
      </a>
    </li>
  </ul>
</nav>
