<article class="qh__teaser-article">
  <header class="qh__teaser-article__header">
    <h3 class="qh__teaser-article__title">
      <a class="qh__teaser-article__link" href="{{ url }}">{{ title }}</a>
    </h3>
    <p class="qh__teaser-article__published"><time datetime="{# Should be a machine date like 2020-10-08 #}">{{ date }}</time></p>
  </header>
  {# If statement here of some kind? So the template using this teaser can specify whether or not to use an excerpt #}
  <div class="qh__teaser-article__content">
    <p class="qh__teaser-article__excerpt">{{ excerpt }}</p>
    <p class="qh__teaser-article__cta">
      {% if alt_read_text %}
        <a class="qh__teaser-article__link" href="{{ url }}">{{ alt_read_text }}</a>
      {% else %}
        <a class="qh__teaser-article__link" href="{{ url }}">Read article</a>
      {% endif %}
    </p>
  </div>
</article>
