<div class="qh__teaser-hotel">
  <div class="qh__teaser-hotel__image-wrap">
    <a href="{{ url }}">
      <span class="qh__teaser-hotel__snipe">
        <sup>$</sup>{{ price }}
      </span>
      <img src="{{ image_path }}" alt="">
    </a>
  </div>
  <div class="qh__teaser-hotel__content">
    <h3 class="qh__teaser-hotel__title">{{ title }}</h3>
    <p class="qh__teaser-hotel__location">{{ location }}</p>
    <p class="qh__teaser-hotel__cta"><a class="qh__teaser-hotel__link" href="#">{{ "View Hotel"|t }}</a></p>
  </div>
</div>
