<div class="qh__publications-list">

  {% if list_title %}
    <div class="qh__publications-list__title">
      <h2>{{ list_title }}</h2>
    </div>
  {% endif %}

  {% if audience_form %}
    {{ audience_form }}
  {% endif %}

  {% for publication in publications %}
    {% for type, languages in publication %}
      <h3>{{ type }}</h2>

      {% for language, nodes in languages %}

        {% if lang_label %}
          <h4>{{ language }}</h3>
        {% endif %}

        <div class="qh__file-list">
          {{ nodes}}
        </div>

      {% endfor %}
    {% endfor %}
  {% endfor %}

</div>
