<li class="qh__person-list__item">
  <article class="qh__teaser-person">

    <div class="qh__teaser-person__name">
      <strong>{{ last_name }}, {{ first_name }}</strong>
    </div>

    <div class="qh__teaser-person__meta">
      <div class="qh__teaser-person__job-details">
        <span class="qh__teaser-person__title">{{ job_title }}</span>
        <span class="qh__teaser-person__category">{{ categories }}</span>
      </div>

      {% if phone %}
        <span class="qh__teaser-person__phone">
          <a href="tel:1+{{ phone }}{{ extension ? 'p' ~ extension }}">{{ phone }}{{ extension ? ' ext. ' ~ extension}}</a>
        </span>
      {% endif %}

      {% if email %}
        <span class="qh__teaser-person__email">
          <a href="mailto:{{ email }}">{{ email }}</a></span>
        </span>
      {% endif %}
    </div>

  </article>
</li>
