<!DOCTYPE html>
<html class="{{ htmlClass }} light no-js">
  <head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" href="../../css/style.css?{{ cacheBuster }}" media="all" />
    <link rel="stylesheet" href="../../css/pattern-scaffolding.css?{{ cacheBuster }}" media="all" />
    <script src="../../vendor/fontfaceobserver.js"></script>
    <script src="../../vendor/chroma.min.js"></script>
    <script src="../../js/pattern-lab-compiled.js?{{ cacheBuster }}"></script>
    <script>window.MSInputMethodContext && document.documentMode && document.write('<script src="../../vendor/ie11CustomProperties.min.js"><\/script>');</script>
    <!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
    {{ patternLabHead | raw }}
    <!-- End Pattern Lab -->
    <!--
      Active color themes to test:
      qh__t__scarborough
      qh__t__federal-hill
      qh__t__wickaboxet

      Switch "light" class for "dark" on the HTML tag
    -->
  </head>
  <body class="{{ bodyClass }} qh__t__wickaboxet">
